### trash files ###
dev.yml
dev.properties
*.log
*.log.*
docker-compose.yml

### Intellij ###
.idea
out
.idea_modules
*.iml

### macOS ###
.DS_Store

### VSCode ###
.vscode
*.code-workspace

### Gradle ###
.gradle
build/



HELP.md

target
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###

*.iws

*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


/.mvn/wrapper/
/resources/
